[core]
    excludesfile = ~/.gitignore
    ignorecase = false
    pager = delta

[color]
    ui = true

[delta]
    line-numbers=true

[diff]
    indent-heuristic = true

[interactive]
    diffFilter = delta --color-only

[push]
    default = simple

[user]
    name = yuta24
    email = yuta24@bivre.com
