[color]
    ui = true

[user]
    name = yuta24
    email = yuta24@bivre.com

[push]
    default = simple

[core]
    ignorecase = false
    excludesfile = ~/.gitignore
[diff]
    indent-heuristic = true